.arrow-line {
  width: 50px;
  background-color: #0f0;
  height: 2px;
}

.arrow-cross-top {
  width: 20px;
  background-color: #0f0;
  height: 4px;
  transform: rotate(35deg);
}

.arrow-cross-bottom {
  width: 20px;
  background-color: #0f0;
  height: 4px;
  transform: rotate(-35deg);
}

.prompt {
  animation: blink 2s infinite; /* Apply the blink animation infinitely */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
