.btn {
  background-color: #0f0;
  color: #000000;
  border: 1px solid #0f0;
  padding: 12px 10px;
  font-size: 16px;
  font-weight: 600;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 0px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: rgb(0, 0, 0);
  color: #0f0;
}

.head-node {
  width: 150px;
  height: 50px;
  font-size: larger;
  display: flex;
  position: relative;
  gap: 35px;
  justify-content: center;
  align-items: center;
}

.node > p {
  font-size: x-large;
}

.node-tail {
  width: 75px;
  height: 50px;
  border: #0f0 1px solid;
  display: flex;
  position: relative;
  gap: 35px;
  justify-content: center;
  align-items: center;
}

.select-container {
  position: relative;
  display: inline-block;
}

.select-container select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #00ff00; /* green border */
  background-color: #0f0f0f; /* dark background */
  color: #00ff00; /* green text */
  cursor: pointer;
}

/* Custom arrow */
.select-container:after {
  content: "\25BE"; /* Unicode for down arrow */
  position: absolute;
  top: calc(50% - 8px);
  right: 10px;
  font-size: 16px;
  color: #00ff00; /* green arrow color */
  pointer-events: none;
}

/* Hover effect */
.select-container:hover select {
  border-color: #00ff00; /* green border on hover */
}

/* Focus styling */
.select-container select:focus {
  outline: none; /* Remove default outline */
  border-color: #00ff00; /* Green border when focused */
}

.input-field {
  color: #00ff00;
  border: none;
  background-color: inherit;
  border: 1px solid #00ff00;
  padding: 10px;
  font-size: 16px;
  border-radius: 0;
  outline: none;
  width: 125px;
}

.input-field::placeholder {
  color: lime;
  opacity: 0.7;
}

.terminal {
  position: absolute;
  top: 0;
  left: 0;
}
